.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main: #ea4e4e;
  --main-hover: #d64242;
  --main-light: #fff4ec;
  --box-corner-radius: 10px;
  --dark-grey: #222;
  --default-text: #555;
  --grey: #888;
  --light-grey: #ccc;
  --lightest-grey: #f8f8f8;
  --green: #a4d037;
  --red: #f05230;
}
